[Unit]
Description=FastMCP Server (Uvicorn)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/FastMCP
ExecStart=/usr/local/bin/python server.py
Restart=always

[Install]
WantedBy=multi-user.target